.label {
  min-width: 35vw;
  display: block;
  box-shadow: 0 7px 12px 0 rgba(100, 100, 111, 0.2);
  padding: 19px 30px;
}

.input {
  width: 100%;
  font-weight: 700;
  font-size: 22px;
  color: #656ec2;
  outline: none;
  border: none;
}

.input::placeholder {
  color: #656ec2;
}

@media screen and (max-width: 769px) {
  .label {
    min-width: 50vw;
    padding: 10px 20px;
  }
  .input,
  .input::placeholder {
    font-size: 14px;
  }
}
