.cards {
  max-width: 85vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.other {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.header li {
  padding: 40px 40px 25px 40px;
  row-gap: 60px;
}

@media screen and (max-width: 1100px) {
  .other {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 769px) {
  .header,
  .other {
    grid-template-columns: repeat(1, 1fr);
  }

  .header li {
    padding: 25px 25px 10px 25px;
  }
}
